@import "theme";
@import "checkbox";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr/toastr";
@import "select2";
@import "select2-bootstrap";
@import "calendar";
@import "bootstrap-datepicker";

#toast-container {
  .toast {
    opacity: 0.95 !important;
  }
}

.avatar-image {
  height: 42px;
  width: 42px;
  padding: 0px;
  margin: 0px;
  border: 2px solid;
  border-radius: 25px;
}

.avatar-image-list {
  height: 30px;
  width: 30px;
}

.select2-selection {
  height: 38px !important;
}
